<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="pathFileBooks" value="E:\other\_university\_EPAM\EPAM.BSU.01.2016.Kravchenia.05\Task1.Client\catalog" />
    <add key="pathXmlBooks" value="E:\other\_university\_EPAM\EPAM.BSU.01.2016.Kravchenia.05\Task1.Client\xmlcatalog.xml" />
    <add key="pathSerializeFileBooks" value="E:\other\_university\_EPAM\EPAM.BSU.01.2016.Kravchenia.05\Task1.Client\sercatalog" />
  </appSettings>
</configuration>
